extends ../templates/test.jade
block vars
	- page = "test"
	- BASEURL = "../"
block content
	ul.nav.navbar-nav
		li.dropdown
			a(role="button",href="#",data-toggle="dropdown")#drop1.drop-toggle Dropdown 
				b.caret
			ul.dropdown-menu(role='menu', aria-labelledby='drop1')
				li(role='presentation')			  
					a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Action			    
				li(role='presentation')
					a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Another action
				li(role='presentation')
					a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Something else here
				li.divider(role='presentation')
				li(role='presentation')
					a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Separated link
		li.dropdown
			a(role="button",href="#",data-toggle="dropdown")#drop2.drop-toggle Dropdown 
				b.caret
			ul.dropdown-menu(role='menu', aria-labelledby='drop1')
				li(role='presentation')			  
					a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Action			    
				li(role='presentation')
					a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Another action
				li(role='presentation')
					a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Something else here
				li.divider(role='presentation')
				li(role='presentation')
					a(role='menuitem', tabindex='-1', href='http://twitter.com/fat') Separated link
	.clearfix


